*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2c2c54;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container{
    background-color: #706fd3;
    height: 500px;
    width: 500px;
    display: flex;
    margin-bottom: 50px;

    

}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
li{
    border: 2px solid black;
    border-top: 0;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
input{
    width: 500px;
    height: 60px;
    font-size: 26px;
}